.cover__subtitle {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    padding-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
  }
}
